# dependencies
node_modules/

# next.js
.next/
out/

# build
dist/
build/

# logs
*.log
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# OS
.DS_Store

# IDE
.vscode/
.idea/

# typescript
*.tsbuildinfo